<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>PetVet</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/style.css"/>
</head>
<body class="container">

<div class="jumbotron">

    <form class="login" action="/login" method="post">
        <div><label>Login</label> <input name="log" align="right"/></div>
        <div><label>Hasło</label> <input type="password" name="password" align="right"/></div>

        <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-ok"></i>
            Zaloguj sie!
        </button>
    </form>
    <a href="/registration">Zarejestruj sie!</a>
</div>

</body>
</html>