<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>PetVet</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/style.css"/>
</head>
<body class="container">

<div class="jumbotron">

    <form class="visit_registration">
       <div><label>Nazwisko</label> <input align="right" /></div>
       <div><label>Gatunek zwierzęcia</label> <input align="right"/></div>
       <div><label>Cel wizyty</label> <input align="right"/></div>
       <div><label>Data</label> <input align="right"/></div>

    <a class="btn btn-primary btn-lg" href="#" role="button">
        <i class="glyphicon glyphicon-ok"></i>
        Zarejestruj wizytę!
    </a>
    </form>
</div>

</body>
</html>