<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>PetVet</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/style.css"/>
</head>
<body class="container">

<div class="jumbotron">

    <form class="visit_registration" action="/registering_visit" method="post">
        <div><label>Nazwisko</label> <input name="name" align="right"/></div>
        <div><label>Gatunek zwierzęcia</label> <input name="species" align="right"/></div>
        <div><label>Cel wizyty</label> <input name="purpose" align="right"/></div>
        <div><label>Data</label><input name="day" placeholder="DD" align="right"/>-<input name="month" placeholder="MM" align="right"/>-<input name="year" placeholder="YYYY" align="right"/></div>
        <div><label>Godzina</label><input name="hour" placeholder="HH" align="right"/>:<input name="minutes" placeholder="MM" align="right"/></div>

        <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-ok"></i>
            Zarejestruj wizytę!
        </button>
    </form>
</div>

</body>
</html>