<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>PetVet</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="container">

<div class="jumbotron">
    <a class="btn btn-primary btn-lg" href="/registering_visit">
        <i class="glyphicon glyphicon-ok"></i>
        Dodaj wizytę!
    </a>
    <table class="table">
        <tr>
            <th>Data</th>
            <th>Nazwisko</th>
            <th>Zwierzę</th>
            <th>Cel wizyty</th>
        </tr>
        <tr th:each="visit: ${visits}">
            <td th:text="${visit.formattedDate}"></td>
            <td th:text="${visit.name}"></td>
            <td th:text="${visit.species}"></td>
            <td th:text="${visit.purpose}"></td>
        </tr>
    </table>
</div>


</body>
</html>